body {
  margin-left: auto;
  margin-right: auto;
  border: yellow 1px solid;
  width: 1200px;

}
header {
  text-align: center;
}
main {

}
#numberLine {
  display: flex;
}
.col-1 {
  flex: 1;
  border: #000 1px solid;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 70px;
}
.selected {
  background-color: #ccc;
}
.played {
  background-color: #666;
}
