body {
  margin-left: auto;
  margin-right: auto;
  border: yellow 1px solid;
  max-width: 1200px;
  width: 100%;

}
header {
  text-align: center;
}
main {
  border:
}
/*Styling for Number Line & Numbers*/
#number-line {
  display: flex;
}
.col-1 {
  flex: 1;
  border: #000 1px solid;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 70px;
}
.selected {
  background-color: #ccc;
}
.played {
  background-color: #666;
}

/*Styling for Dice area*/
#game-space {

}
#dice-board {

}
.dice {

}
/*Scoreboard*/
